<div class="pf-c-accordion @(BoxShadow ? String.Empty : CssClassConstants.NoBoxShadow)" @attributes="Attributes">
	<CascadingValue Value="this" Name="Accordion" IsFixed="true">
		<CascadingValue Value="FixedHeight" Name="FixedHeight">
			@ChildContent
		</CascadingValue>
	</CascadingValue>
</div>

@code {
	private List<AccordionItem> _items = new List<AccordionItem>();

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[Parameter]
	public bool BoxShadow { get; set; } = true;

	[Parameter]
	public bool FixedHeight { get; set; } = false;

	[Parameter(CaptureUnmatchedValues = true)]
	public IDictionary<string, object> Attributes { get; set; }

	public void AddItem(AccordionItem item)
	{
		_items.Add(item);
	}

	public void ContractOthers(AccordionItem expandedItem)
	{
		foreach (var item in _items)
			if (expandedItem != item)
				item.Contract();
	}
}
