<section class="pf-c-dropdown__group">
	@if (!String.IsNullOrEmpty(Title))
	{
		<h1 class="pf-c-dropdown__group-title">@Title</h1>
	}
	<ul>
		<CascadingValue Value="this" Name="DropdownGroup" IsFixed="true">
			@ChildContent
		</CascadingValue>
	</ul>
</section>

@code {
	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	[CascadingParameter(Name = "Dropdown")]
	public Dropdown Dropdown { get; set; }

	[CascadingParameter(Name = "DropdownGroup")]
	public DropdownGroup ParentDropdownGroup { get; set; }

	protected override void OnInitialized()
	{
		if (ParentDropdownGroup != null)
			throw new Exception("DropdownGroups cannot be nested.");

		Dropdown.SetHasGroups();

		base.OnInitialized();
	}
}
