<div class="pf-c-page__main-group @(StickyMode == StickyMode.Top ? CssClassConstants.StickyTop : String.Empty) @(StickyMode == StickyMode.Top ? CssClassConstants.StickyBottom : String.Empty)">
	@ChildContent
</div>

@code {
	[Parameter]
	public StickyMode StickyMode { get; set; }

	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
