<Nav>
	<NavList Title="This is a group 1">
		<NavItem Text="Home" Href="/" Match="NavLinkMatch.All" />
		<NavItem Text="Notification Drawer" Href="/NotificationDrawer" />
		<NavItem Text="Simple item 2" SetCurrentOnClick="true" />
		<NavItem Text="Expandable item" Expandable="true">
			<NavItem Text="Child item 1" SetCurrentOnClick="true" />
			<NavItem Text="Child item 2" SetCurrentOnClick="true" />
			<NavDivider />
			<NavItem Text="Child item 3" SetCurrentOnClick="true" />
		</NavItem>
	</NavList>
	<NavList Title="This is a group 2">
		<NavItem Text="Simple item 4" SetCurrentOnClick="true" />
		<NavItem Text="Simple item 5" SetCurrentOnClick="true" />
	</NavList>
</Nav>